body {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(156, 156, 156);
    width: 65px;
    height: 100vh;

}

.sidebarContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.hamburgerIcon, .sidebarIcon {
    width: 40px;
    cursor: pointer;
}

.hamburgerIcon {
    margin-top: 10px;
    margin-bottom: 100px;
    transition: 0.3s;
}

.hamburgerIcon:hover {
    transform: scale(1.1);
}

.sidebarIcon {
    margin-top: 5px;
    transition: 0.3s;
  
}

.sidebarIcon:hover {
    transform: scale(1.1);
}